* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: hsl(30, 38%, 92%);
  width: 100vw;
  height: 100vh;
}


.mobile {
  display: none;
}

.text {
  background-color: white;
  padding: 23px;
  width: 350px;
}


@media (max-width: 380px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }
}

@media (min-width: 381px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .border {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
  }

  .border img {
    width: 350px;
  }
}

button {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}